/******************************
LAYOUT
*******************************/
.nav-bar {
    margin-top: 30px;
}

.main-content {
    margin-top: 20px;
}


/******************************
NAVBAR
*******************************/
.navbar-link {
    margin: 0 5px;
}