{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Course List{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>Course List</h1>
    <a class="lead" href="{% url 'courses:create' %}">add a new course</a>
    {% for obj in courses_list %}
        <div class="row">
            <div class="col-sm-12 courses">
                <p class="lead"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></p>
                <p><b>{{ obj.subject }}</b></p>
                <p>Term: <i>{{ obj.term }}</i></p>
                <p>Description: {{ obj.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>